extends layout

block content
  style
    include style2.css
  p Une récompense pour ton travail acharné ;) !
  a(href='http://78.media.tumblr.com/849dc6b44a94beb25a8cfe8724acc2e4/tumblr_oxnukhoFmk1v1wvcuo2_r1_1280.jpg') Google
   